/dw_maya/test/
/.tmp/
/.idea
/dw_maya/.idea/
.local_data/
.venv/
/DemBonesRnD/
/dw_davinci/report/
/dw_insta/config.json
/dw_insta/window_settings.ini
/dw_yt/config.json
/dw_yt/library.db
/dw_yt/library.db-*
/dw_yt/.waveform_cache/