/dw_maya/test/
/.tmp/
/.idea
/dw_maya/.idea/
.local_data/
.venv/
/DemBonesRnD/
/DemBonesMacro/
/dw_davinci/report/
/dw_insta/config.json
/dw_insta/window_settings.ini
/dw_beatfumbler/config.json
/dw_beatfumbler/library.db
/dw_beatfumbler/library.db-*
/dw_beatfumbler/.waveform_cache/